.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color);

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

//   Logo in header
.header__logo {
  @extend %link;
  padding: 16px 0;

  @media screen and (min-width: $desktop) {
    padding: 25px 0;
  }
}

.header__logo--color {
  color: var(--black-text-color);
}

// Logo in footer
.footer__logo {
  @extend %link;
  display: block;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.footer__logo--color {
  color: var(--white-color);
}
