// Кнопки на сторінці Портфоліо

.portfolio__buttons {
  @extend %list;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio__btn {
  padding: 6px 22px;
  background-color: var(--section-bg-color);
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  transition: background-color 250ms var(--distribution-time), color 250ms var(--distribution-time),
    box-shadow 250ms var(--distribution-time);
}
.portfolio__btn:active,
.portfolio__btn:hover,
.portfolio__btn:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

// Картки в портфоліо
.portfolio__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  color: var(--white-color);
}
.portfolio__link {
  @extend %link;
  display: block;
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__part {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--brand-color);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms var(--distribution-time);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
.portfolio__description {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio__items {
  z-index: 1;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.portfolio__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__text {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
