:root {
    --primary-color: #757575;
    --title-text-color: #212121;
    --brand-color: #2196f3;
    --hover-brand-color: #188ce8;
    --black-text-color: #000000;
    --white-color: #ffffff;
    --section-bg-color: #f5f4fa;
    --hero-footer-bg-color: #2f303a;
    --border-color: #ececec;
    --secondary-color: #afb1b8;
    
    --distribution-time: cubic-bezier(0.4, 0, 0.2, 1);
  }
